.admin-users-container {
  padding: 20px;
}

.admin-users-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-users-table th,
.admin-users-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left; /* semua teks rata kiri */
}

.admin-users-table th {
  background-color: #0044ff;
  font-weight: bold;
}

.admin-users-table th:nth-child(1),
.admin-users-table td:nth-child(1) {
  width: 25%;
}

.admin-users-table th:nth-child(2),
.admin-users-table td:nth-child(2) {
  width: 30%;
}

.admin-users-table th:nth-child(3),
.admin-users-table td:nth-child(3) {
  width: 20%;
}

.admin-users-table th:nth-child(4),
.admin-users-table td:nth-child(4) {
  width: 15%;
}

.btn-back-container {
  text-align: right;
  margin-bottom: 15px;
}

.btn-back {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #2980b9;
}

.header-users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-back {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #2980b9;
}
